@import 'sass/helpers/variables';

$float-left: right;
$float-right: left;

$text-right: left;
$text-left: right;

.header {
    .logo {
        @media #{$minMedium} {
            float: $float-left;
            text-align: $text-left;
        }
        .the-toggler {
            right: auto;
            left: 15px;
        }
    }
    .navbar {
        @media #{$minMedium} {
            float: $float-left;
        }
        li {
            width: 20%;
            float: $float-left;
            @media #{$maxMobile} {
                text-align: $text-left;
            }
        }        
    }
}

// start sevices
.services {
    .service-box {
        @media #{$minMedium} {
            float: $float-left;
        }
    }
}
// end sevices
// start our players
.our-players {
    .player-box {
        @media #{$minSmall} {
            float: $float-left;
        }
        @media #{$minMedium} {
            float: $float-left;
        }
    }
}
// end sevices
// start lorem
.lorem {
    .lorem-box {
        float: $float-left;
    }
}
// end lorem

.footer {
    .gallery, .info, .contact {
        float: $float-left;
    }
    .gallery {
        .img-box {
            img {
                @media #{$minSmall} {
                    float: $float-left;
                }
            }
            .text {
                @media #{$minSmall} {
                    float: $float-left;
                }               
            }
        }
    }
    .copyright {
        .text,
        .author {
            float: $float-left;
        }
    }
}